---
layout: default
title: Contact
---
        
        {% include subpage-header.html %} 
        <!-- contact form start -->
        <section id="contact-form">
          <div class="container">
            {% include contact-form.html %} 
            <div id="contact-box" class="row">
              <div class="col-md-6 col-sm-12">
                <div class="block">
                    {% include contact-info.html %}
                    {% include social-icons.html %}
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="block">
                    {% include google-map.html %}
                </div>
              </div>
            </div>
          </div>
        </section>
        {% include call-to-action.html %}
        <script type='text/javascript'>
    var disqus_shortname = 'satilik-shop';
    // DON'T EDIT BELOW THIS LINE
    (function () {
        var loaded = false;
        function loadDisqus() {
            if (loaded) return;
            loaded = true;
            var div = document.getElementById('all-comments');
            div.innerHTML = ''; div.id = 'disqus_thread';

            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';

            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

        }

        if ( document.getElementById('all-comments') || document.readyState === "complete" ) {
            return setTimeout( loadDisqus, 1 );
        }

        if ( document.addEventListener ) {
            document.addEventListener( "DOMContentLoaded", loadDisqus, false );
            window.addEventListener( "load", loadDisqus, false );
        } else if ( document.attachEvent ) {
            document.attachEvent( "onreadystatechange", loadDisqus );
            window.attachEvent( "onload", loadDisqus);
        }
    }());
</script>
